/* 
body {
    margin: 0;
}
.background-main {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgb(241, 214, 162),white);
    
} */
.rotate-dish{
  position: absolute;
  display: flex;
  background-color: transparent;
  width: 60%;
  right: 50px;
  top: 250px;
  transition-duration: 3s;
}
.rotate-dish:hover {
  transform:rotate(360deg);
}

#noodles {
  width: 45%;
}
h1 {
  /* border: 1px solid red ; */
  position: fixed;
  display: flex;
  font-family:"Oswald", sans-serif;
  font-size: 1000%;
  transform: rotate(-90deg);
  color: rgb(241, 214, 162);
  right: 76%;
  margin-right: auto;
  top: 27%;
}
#homepage-bkg {
  background-color: rgb(209, 115, 8);
  display: flex;
  width: 10%;
  height: 100%;
  /* z-index: 1; */
}
img {
  background-color: transparent;
  width: 50px;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    flex-direction: row;
    display: flex;
}
i {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
li a {
  /* position: relative; */
  /* display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgb(255, 238, 3);
}
.active {
  background-color: #04AA6D;
}

 */ 