/* 
body {
    margin: 0;
}
.background-main {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgb(241, 214, 162),white);
    
} */
#homepage-bkg {
  background-color: rgb(209, 115, 8);
  position: absolute;
  display: flex;
  width: 10%;
  height: 100%;
  
}
h1 {
  border: 1px solid red ;
  position: fixed;
  display: flex;
  font-family:"Oswald", sans-serif;
  font-size: 140px;
  transform: rotate(-90deg);
  color: rgb(241, 214, 162);
  /* right: 74%; */
  margin-right: auto;
  top: 27%;
  z-index: 1; 
  /* to bring forward */
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    flex-direction: row;
    display: flex;
}
i {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
li a {
  /* position: relative; */
  /* display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgb(255, 238, 3);
}
.active {
  background-color: #04AA6D;
}

 */ */
