.food-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-left: 10%;
}
.one:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 100px;
  left: 50px;
  height: 50%;
  width: 50%;
  opacity: 0;
  background-color: green;
}

/* td:hover {
   background-color: lightcoral;
   color: white;
} */

table {
  height: 100%;
  width: 100%;
}
tr {
  /* border-spacing: 30px; */
  border: 1px solid red;
}

td {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
