.food-images {
    display: flex;
   width: 100%;
   height: 100%;
   text-align: center;
   border: 5px solid green;
}

th, td {
 display: flex;
   border: 1px solid red;
   justify-content: space-around;
}

td:hover {
   background-color: lightcoral;
   color: white;
}
